@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  text-align: center;
}

/* Navbar */

.navBarButtons {
  background-color: #474747;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  width: 100%;
  border: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.navBarButtons:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navBarButtons:hover, .navBarButtons:focus, .navBarButtons:active {
  color: white;
  cursor: pointer;
}
.navBarButtons:hover:before, .navBarButtons:focus:before, .navBarButtons:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

li {
  list-style: none;
}
/* Recent feeds page */
.feedPage {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 20px;
  padding: 2em 2em 2em 5em;
  justify-items: center;
}

.feedHeader {
  grid-row: 1;
  grid-column: 2;
}

.feedList {
  grid-row: 2;
  grid-column: 2;
  justify-items: center;
}

.feedEntryWrapper {
  display: grid;
  grid-gap: 50px;
}

.feedEntry {
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  justify-items: center;
  border-radius: 10px;
  padding: 20px;
  border: solid 0.5px grey;
  opacity: 0.5;
  transition: transform .2s;
}

.feedEntry:hover {
  opacity: 1;
  transform: scale(1.005);
}

/* blog/profile page */

.profilePage {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: repeat(2, min-content) 5fr;
  grid-gap: 20px;
  padding: 2em 2em 2em 5em;
}

.profileHeader {
  color: #86C232;
  font-size: 50px;
  text-align: center;
  width: 100%;
  grid-column: 2 / 4;

}

.blogForm {
  background-color: #c1c8e4;
  padding: 15px;
  grid-row: 2;
  grid-column: 2;
  border-radius: 10px;
}

.articleForm {
  background-color: #c1c8e4;
  padding: 15px;
  grid-row: 2;
  grid-column: 3;
  border-radius: 10px;
}

.blogList {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  grid-gap: 10px;
  padding: 15px;
}

.articleList {
  display: grid;
  grid-row: 3;
  grid-column: 3;
  grid-gap: 10px;
  padding: 15px;
}

.blogEntry {
  background-color: #5ab9ea;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  justify-items: center;
  border-radius: 10px;
  padding: 20px;
}

.articleEntry {
  background-color: #5ab9ea;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  justify-items: center;
  border-radius: 10px;
  padding: 20px;
}

/* Event Page */

.eventPage {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
  padding: 2em 2em 2em 5em;
}

.eventForm {
  grid-column: 2;
  padding: 20px;
  height: min-content;
}

.eventList {
  display: grid;
  grid-gap: 20px;
  font-size: 20px;
  grid-column: 2;
  padding: 20px;
  text-align: center;
}

.eventEntry {
  background-color: white;
  padding: 20px;
}

/* Landing page */

.landingPage {
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-image: url("./components/home-page/background.jpg");
  height: 100vh;
  background-size: cover;
}

.landingForms {
  justify-content: center;
  margin: auto;
  width: 50%;
  color: #363636;
  background-color: white;
  border: solid thin grey;
  padding: 50px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  display: grid;
  grid-template-rows: min-content min-content max-content;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  transition: transform .2s;
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

.landingForms:hover {
  opacity: 1;
  transform: scale(1.05);
}

.loginLink {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  padding: 2%;
  text-align: center;
  font-size: 25px;
  border:none;
  background: #f2f2f2;
  cursor: pointer;
}

.registrationLink {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  padding: 2%;
  text-align: center;
  font-size: 25px;
  border:none;
  background: #f2f2f2;
  cursor: pointer;
}

.landingHeader {
  font-size: 50px;
  text-align: center;
  grid-column: 1 / 5;
}

.formContent {
  margin-left: 20px;
  grid-row: 3 / 4;
  grid-column: 3 / 5;
  padding: 20px;
}

.landingIconPic {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  height: 50%;
  width: 50%;
  margin: 20%;
  -webkit-animation: rotation 4s infinite linear;
}


@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


/* Dashboard */

.dashboardPage {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 2fr 0.03fr;
  grid-template-rows: max-content;
  grid-gap: 20px;
  padding: 2em 2em 2em 5em;
}

.dashboardHeader {
  grid-row: 1;
  grid-column: 1;
  padding: 20px;
  text-transform: uppercase;
  color: #212121;
  display: flex;            /* new */
  align-items: center;      /* new */
  justify-content: center;
}

.dashboardGoals {
  grid-row: 1;
  grid-column: 2;
  padding: 20px;
  display: grid;
  grid-template-columns: min-content, max-content;
  grid-template-rows: repeat(2, min-content);
}

.dashboardGoalHeader {
  grid-row: 1 / 2;
  grid-column: 1 / span 2;
}


.dashboardGoalInfo {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, min-content);
  padding: 20px
}

.dashboardGoalForm {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.dashboardGoalTextarea {
  font-size: 18px;
  width: 90%;
}

.dashboardGoalEntry {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-gap: 15px;
  justify-content: end;
}

.dashboardWeeklyActivities {
  grid-row: 2;
  grid-column: 2;
  padding: 20px;
}

.dashboardNutrition {
  grid-row: 2;
  grid-column: 1;
  padding: 20px;
}

.dashboardFeedList {
  grid-row: 3;
  grid-column: 2;
  padding: 20px;
}

.dashboardEventList {
  grid-row: 3;
  grid-column: 1;
  padding: 20px;
}

.dashboardSingleEventEntry {
  font-size: 60%;
  padding-bottom: 10px;
  border-top: solid 1px grey;
}

/* nutrition page */
.nutritionPage {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-gap: 20px;
  padding: 2em 2em 2em 5em;
  grid-template-rows: repeat(3, min-content) 0;
  grid-template-columns: repeat(3, minmax(min-content, 1fr)) 0;
}

.nutritionHeader {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}

.nutritionInput {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.nutritionImageUpload {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.nutritionNatLang {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.nutritionNatLangTextarea {
  font-size: 18px;
  height: auto;
  width: 100%;
}

.nutritionNatLangDatetime {
  font-size: 16px;
}

.nutritionTable {
  line-height: 35px;
  margin-top: 30px;
  grid-row: 3 / 4;
  grid-column: 1 / span 3;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.tableHeaderRow {
  background-color: #2098D1;
}

th {
  font-weight: bold;
  font-size: 18px;
}

.tableCell {
  text-align: center;
}


/* page layouts */

.pageLayout {
  display: grid;
  grid-template-rows: min-content min-content;
  background-color: #ddd;
}


.border {
  border: solid thin grey;
  border-radius: 5px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  padding: 50px;
  background-color:#f9f7ecc9;
  border: solid 0.5px grey;
  opacity: 0.8;
  transition: transform .2s;

  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

.border:hover {
  opacity: 1;
  transform: scale(1.05);
}


/* map page */

.mapPage {
  display: grid;
  grid-template-rows: min-content 0.1fr min-content;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.mapHeader {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.locationForm {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-left: 15%;
}

.locationSubmitButton {
  margin-left: 1%;
}

.mapLinks {
  grid-row: 2 / 3;
  padding: 0;
  grid-column: 1 / 3
}

.mapContent {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.gymMapLink {
  padding: 2%;
  text-align: center;
  width: 50%;
  font-size: 25px;
  border:none;
  background: #f2f2f2;
  color: #5c7483;
  display: inline-block;
}

.gymMapButton:hover {
  background-color: #faf5e8;
}


.eventsMapLink {
  padding: 2%;
  text-align: center;
  width: 50%;
  border:none;
  font-size: 25px;
  background: #f2f2f2;
  color: #5c7483;
  border-left: 1px solid #5c7483;
  display: inline-block;
}


.eventsMapButton:hover {
  background-color: #faf5e8;
}

.eventsMapButton {
  background-color: #blue;
}

.mapStyling {
  background: blue;
}

.mapInfo {
  text-align: left;
}

.mapInfo h3 {
  text-align: center;
}

.gymsMapInfo {
  text-align: center;
  grid-gap: 50px;
  background-color: #ddd;
}


#page-wrap {
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.icons {
  margin-right: 6px;
}


