@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  text-align: center;
}

/* Navbar */

.navBar {
  background-color: #212121;
  display: grid;
  grid-row: 1 / 4;
  align-content: start;
}


.navBarButtons {
  background-color: #474747;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  width: 100%;
  border: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.navBarButtons:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navBarButtons:hover, .navBarButtons:focus, .navBarButtons:active {
  color: white;
  cursor: pointer;
}
.navBarButtons:hover:before, .navBarButtons:focus:before, .navBarButtons:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Recent feeds page */
.feedPage {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: 50px;
  justify-items: center;
}

.feedHeader {
  grid-row: 1;
  grid-column: 2;
}

.feedList {
  grid-row: 2;
  grid-column: 2;
  justify-items: center;
}

.feedEntryWrapper {
  display: grid;
  grid-gap: 50px;
}

.feedEntry {
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  justify-items: center;
  border-radius: 10px;
  padding: 20px;
  border: solid 0.5px grey;
  opacity: 0.5;
  transition: transform .2s;
}

.feedEntry:hover {
  opacity: 1;
  transform: scale(1.005);
}

/* blog/profile page */

.profilePage {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-template-rows: repeat(2, min-content) 5fr;
  grid-gap: 50px;
}

.profileHeader {
  color: #86C232;
  font-size: 50px;
  text-align: center;
  width: 100%;
  grid-column: 2 / 4;

}

.blogForm {
  background-color: #c1c8e4;
  padding: 15px;
  grid-row: 2;
  grid-column: 2;
  border-radius: 10px;
}

.articleForm {
  background-color: #c1c8e4;
  padding: 15px;
  grid-row: 2;
  grid-column: 3;
  border-radius: 10px;
}

.blogList {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  grid-gap: 10px;
  padding: 15px;
}

.articleList {
  display: grid;
  grid-row: 3;
  grid-column: 3;
  grid-gap: 10px;
  padding: 15px;
}

.blogEntry {
  background-color: #5ab9ea;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  justify-items: center;
  border-radius: 10px;
  padding: 20px;
}

.articleEntry {
  background-color: #5ab9ea;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  justify-items: center;
  border-radius: 10px;
  padding: 20px;
}

/* Event Page */

.eventPage {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 1fr;
  grid-gap: 30px;
}

.eventForm {
  grid-column: 2;
  padding: 20px;
  height: 10%;
}

.eventList {
  display: grid;
  grid-gap: 20px;
  font-size: 20px;
  grid-column: 3;
  padding: 20px;
}

.eventEntry {
  background-color: white;
  padding: 20px;
}

/* Landing page */

.landingPage {
  grid-row: 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-image: url("./components/home-page/background.jpg");
  height: 100vh;
  background-size: cover;
}

.landingForms{
  justify-content: center;
  margin: auto;
  width: 50%;
  color: #363636;
  background-color: white;
  border: solid thin grey;
  border-radius: 20px;
  padding: 50px;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 1fr 1fr;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
}

.landingHeader {
  font-size: 50px;
  text-align: center;
  grid-column: 1 / 3;
}

.landingImg {
  width: auto;
  height: auto;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}


.loginForm {
  margin-left: 20px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  padding: 20px;
}

.registrationForm {
  margin-left: 20px;
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  padding: 20px;
}

/* Dashboard */

.dashboardPage {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 2fr 0.03fr;
  grid-template-rows: max-content;
  grid-gap: 50px;
}

.dashboardHeader {
  grid-row: 1;
  grid-column: 1;
  padding: 20px;
  text-transform: uppercase;
  color: #212121;
}

.dashboardIconPic {
  height: 80%;
  width: 80%;
  margin-left: 10%;
  -webkit-animation: rotation 4s infinite linear;
}


@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.dashboardGoalList {
  grid-row: 1;
  grid-column: 2;
  padding: 20px;
}

.dashboardGoalCheckbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px
}

.dashboardGoalFormTitle {
  margin-top: 0px;
}

.dashboardGoalEntry {
  display: grid;
  grid-gap: 15px;
}

.dashboardWeeklyActivities {
  grid-row: 2;
  grid-column: 2;
  padding: 20px;
}

.dashboardNutrition {
  grid-row: 2;
  grid-column: 1;
  padding: 20px;
}

.dashboardEventList {
  grid-row: 3;
  grid-column: 2;
  padding: 20px;
}

.dashboardFeedList {
  grid-row: 3;
  grid-column: 1;
  padding: 20px;
}

/* pagelayouts */

.pageLayout {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr;
  grid-template-columns: 0.1fr 1fr;
  grid-gap: 50px;
  background-color: #ddd;
}

.border {
  border: solid thin grey;
  border-radius: 20px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
  padding: 50px;
  color: #212121;
  background-color: #fefaf0;
  border: solid 0.5px grey;
  opacity: 0.8;
  transition: transform .2s;
}

.border:hover {
  opacity: 1;
  transform: scale(1.05);
}





